body {
    background-color: #e4e8e8
}


#container {
    width: 90%;
    margin: 0 auto;
    font-family: Calibri;
    width: 69%;
}

#navbar {
    background-color: #f3f5f5;
    margin: 2px 0px 10px 0px;
    color: #171b1b;
    padding: 10px 5px 5px 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
    height: 49px;
    border-radius: 2px;
}

#navbarlogo {
    float: left;
}

#navbarpulsanti {
    float: right;
    font-size: larger;
    padding: 9px;
}

.pulsantino {
    margin-right: 20px;
    text-decoration: none;
    color: #171b1b;
}

    .pulsantino a:link {
        text-decoration: none;
        color: #171b1b;
    }

    .pulsantino a:visited {
        text-decoration: none;
        color: #171b1b;
    }

    .pulsantino a:hover {
        text-decoration: none;
        color: #fff;
    }

    .pulsantino a:active {
        text-decoration: none;
        color: #5a7676;
    }

.pulsantinoultimo {
    text-decoration: none;
    color: inherit;
}

#avvertimento {
    background-color: #e1354a;
    margin: 2px 0px 10px 0px;
    color: #fff;
    padding: 5px 5px 5px 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
    border-radius: 2px;
}

#contenuto {
    margin: 0 auto;
    align-content: center;
    background-color: #f3f5f5;
    margin: 2px 0px 0px 0px;
    height: 550px;
    padding: 10px 10px 20px 10px;
    font-size: 15px;
    color: #171b1b;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
    border-radius: 2px;
}

#footer {
    background-color: #d6d7d7;
    text-align: center;
    font-size: 14px;
    color: #171b1b;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
}

/*CSS pagina Login*/
#sfondologin {
    background-color: #d6d7d7;
}

#login {
    background-color: #f3f5f5;
    font-family: Calibri;
    font-size: 17px;
    width: 400px;
    height: 373px;
    margin: 150px auto;
    border-radius: 2px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
}

#titolologin {
    text-align: center;
    color: #8f9191;
    font-weight: 400;
    font-size: 32px;
    font-family: Tahoma;
}

#tabellalogin {
    margin: 0 40px;
    text-align: left;
}

.pulsantilogin {
    background-color: #d6d7d7;
    border-radius: 3px;
    border: none;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #171b1b;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0 0 20px 0;
    height: 39px;
    width: 313px;
}

.button-8 {
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

.boxTesto {
    width: 156%;
    padding: 12px 10px;
    margin-bottom: 10px;
    border-style: none;
    border-radius: 5px;
}

#preg {
    font-size: 15px;
}

#login a {
    text-decoration: none;
    color: #8f9191;
}

.button-griglia {
    background-color: #d6d7d7;
    border-radius: 3px;
    border: none;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 2px;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

th {
    font-weight: initial;
}

input:disabled {
    background-color: #ebebeb;
    border-radius: 3px;
    border: none;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #6b8181;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

.headergrid {
    background-color: #d6d7d7;
    font-weight: initial;
}

.div {
    font-size: 18px;
    text-align: center;
}

.griglia {
    margin-left: auto;
    margin-right: auto;
    border-color: #d6d7d7;
}

.titolo {
    font-weight: normal;
    font-size: 24px;
}