USE [LIBRARY]
GO
/****** Object:  StoredProcedure [dbo].[LIBRI_NOLEGGIA]    Script Date: 13/09/2022 18:57:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[LIBRI_NOLEGGIA]
(
	@codLibro int,
	@codUtente int
)
AS
BEGIN
	update LIBRI
	set
		codUtente=@codUtente,
		dataPrestito=GETDATE()
	where codLibro=@codLibro
END
GO
